* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.nebula {
   background-image: url("./nebula-bg.jpg");
   background-size: cover; /* Add this to make sure the image covers the container */
   background-position: 10% 30%;
   background-repeat: no-repeat;
   position: relative; /* Add this to establish a stacking context */
}
